<a href="https://colab.research.google.com/github/abhi311295/Customer-Segmentation-Kmeans-Clustering-/blob/main/Customer_Segmentation_Kmeans_Clustering_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importing dependences 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
from sklearn.cluster import k_means

Importing data

In [3]:
#importing data with panda 
customer_data = pd.read_csv('Mall_Customers.csv')

In [4]:
# printing 5 rows 
customer_data.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [5]:
#finding number of rows and column
customer_data.shape

(200, 5)